.hg-header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.hg-header .logo svg {
    max-width: 281px;
    max-height: 50px;
}

.is-sticky {
    background-color: rgba(var(--white)) !important;
}

